<!DOCTYPE html>
<html lang="en">

<head>
    <title>Property Listings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->

    <!-- This is the CSS link from bootstrap. I used bootstrap because I am very poor with designs and applying external CSS was slowing my progress -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <style>
        .image-thumbnail {
            height: 200px;
            object-fit: cover;
        }
        
        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>

</head>

<body class="m-5">

    <!--This is the main Container for the body-->
    <div class="container">
        <!--Here we have the top bar-->
        <ul class="nav mb-3 justify-content-end" role="tablist">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <p style="font-size: 21px">You are logged in as: {{request.user}}</p>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm m-1">LogOut</a>
            </li>
            <li>
                <a href="{% url 'wishlist' %}" class="btn btn-dark btn-block btn-sm m-1">View My Wishlist</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}" class="btn btn-outline-dark ml-6">Sign in</a>
            </li>
            {% endif %}
        </ul>


        <!--The Container is divided into two parts where one is the left navigation and the other is for the property listings -->
        <div class="row">
            <div class="col-md-3">
                <!--This is the Left Navigation Bar where you can select and filter properties by Location-->
                <div class="card">
                    <div class="card-header">
                        <h5>Filter by Location</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'homepage' %}">All</a>
                        </li>

                        {% for location in locations %}
                        <li class="list-group-item">
                            <a href="{% url 'homepage' %}?location={{location.name}}">
                                {{location.name}}
                            </a>
                        </li>

                        {% endfor %}


                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Property</a>

                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">

                    {% for property in properties %}
                    <!--Here we have the right panel where properties posted are listed in card mode-->
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img src="{{property.image.url}}" class="image-thumbnail" alt="Card image cap">

                            <div class="card-body">
                                <i class="bi bi-geo-alt"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg>
                                <small style="color: rgb(8, 9, 119);">{{property.location.name}}</small>

                            </div>
                            <a href="{% url 'property' property.id %}" class="btn btn-outline-dark btn-sm m-1">View Property</a>
                        </div>
                    </div>
                    {% empty %}
                    <h3>NO PROPERTIES DISPLAYED AT THE MOMENT...</h3>
                    {% endfor %}


                </div>
            </div>

        </div>

    </div>
</body>

</html>