<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lessor page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->

    <!-- This is the CSS link from bootstrap. I used bootstrap because I am very poor with designs and applying external CSS was slowing my progress -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <style>
        .image-thumbnail {
            height: 200px;
            object-fit: cover;
        }
        
        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>

</head>

<body class="m-5">

    <!--This is the main Container for the body-->
    <div class="container">
        <strong>Hello {{request.user}}, We regretably inform you that you are not allowed to post on this platform at the moment<br><br>Please contact the admin for support </strong>

    </div>
</body>

</html>